.selectedWord {
    position: absolute;
      background: rgb(1, 2, 2);
    z-index: 1;
    width: fit-content;
    color: white;
    padding: 1px;
    margin-top: 8px;
    font-family: Calibri;
	font-size: 15px;
	min-height: 500px;
	min-width: 400px;
	-moz-user-select: none;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.selectedWord:after, .selectedWord:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.selectedWord:after {
	border-color: rgba(47, 79, 79, 0);
	border-bottom-color: #2F4F4F;
	border-width: 10px;
	margin-left: -10px;
}
.selectedWord:before {
	border-color: rgba(0, 0, 0, 0);
	border-width: 14px;
	margin-left: -14px;
}
.countdownTimer {
	position: absolute;
	background: rgb(1, 2, 2);
  z-index: 1;
  width: fit-content;
  color: white;
  padding: 1px;
  margin-top: 8px;
  font-family: Calibri;
  -moz-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
	 -moz-user-select: none; /* Firefox */
	  -ms-user-select: none; /* Internet Explorer/Edge */
		  user-select: none; /* Non-prefixed version, currently
								supported by Chrome and Opera */
}