.chip-container {
    min-width: 300px;
    margin: 10px 10px 10px 10px;
}
.introText {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
.row {
    min-width: max-content;
    margin: 0;
}

.btn-small {
    display: flex;
    justify-content: flex-end;
}
.preloader-wrapper {
    display: none;
}
.tooltipped {
    width: 100%;
}